body {
    margin: 60px auto;
    width: 66%;
 
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
ul.steps {
	color:#333;
	font-size:1.5em;
    letter-spacing:5px;
	font-style:bold;
    font-family:'Courier New', monospace;
}
a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}


p {
    color: #333;
    /*文本块首行缩进30个像素*/
    text-indent:30px;
    letter-spacing: 4px;
    line-height:170%;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
code {
    background-color:#2b2b2b;
    color:#A9B7C6;
    font-style:normal;
    font-family:'Courier New', monospace;
    padding:8px 5px 8px 5px;
    border-radius:5px;
    
}

/*代码块显示*/
pre.code {
    background-color:#2b2b2b;
    color:#A9B7C6;
    font-style:normal;
    font-family:'Courier New', monospace;
    padding:16px 16px 16px 16px;
    border-radius:2px;
}
span.en {
	letter-spacing: 1px;
}
