---
layout: default
title: 
tagline: 
---
<div id="home">
  {% for tag in site.tags %}
  <h3>{{ tag[0] }}</h3>
{% endfor %}
  <h1>博客列表</h1>
  <section class="is-flex is-flex-direction-row is-flex-wrap-wrap">
    {% for post in site.posts %}
    <div class="card m-2" style="width:30%;">
      <header class="card-header">
        <p class="card-header-title">
         <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </p>
      </header>
      
      <div class="card-content">
        <div class="content" style="max-height:150px;overflow:hidden;text-overflow: ellipsis;">
           {{ post.excerpt }}
        </div>
      </div>
        
    </div>
    {% endfor %}
  </section>
</div>
