---
layout: default
title: 
tagline: 
---
<div id="home">
  {% for tag in site.tags %}
  <span class="tag is-black">{{ tag[0] }}</span>
{% endfor %}
  <h1>博客列表</h1>
  <section class="is-flex is-flex-direction-row is-flex-wrap-wrap">
    {% for post in site.posts %}
    <div class="card m-2" style="width:30%; min-height:100px;">

      
      <div class="card-content">
        <div class="content">
         <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </div>
      </div>
        
    </div>
    {% endfor %}
  </section>
</div>
