<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		
			<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
			<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<style>
				html,body{
					
				height:100%;
				}
			</style>
		</head>
		<body>
		<div class="w3-top">
		<div class="w3-bar  w3-theme w3-xlarge">
			<span class="w3-bar-item">桥小白的博客</span>
			<a class="w3-bar-item w3-button w3-right" href="#"><i class="fa fa-search"></i></a>
		</div>
		
		<div class="w3-bar w3-theme">
			<a href="/" class="w3-bar-item w3-button w3-hover-light-grey">首页<a>
			<a href="/blog" class="w3-bar-item w3-button w3-hover-light-grey">博客<a>
			<a href="/about" class="w3-bar-item w3-button w3-hover-light-grey">关于<a>
			
		</div>
		</div>
		

			<div class="w3-container w3-pale-blue" style="height:100%;" >
			
			<div class="container">
			
			{{ content }}
			</div>
			
			</div><!-- /.container -->
			
			<footer class="w3-container w3-theme-d2 w3-bottom" >
	    		<a class="w3-button" href="mailto:qiaojun@gmail.com">email</a></li>
	        	<a class="w3-button" href="https://github.com/qiaojun2016">github.com/qiaojun2016</a>
			</footer>
	
		</body>
	</html>
